* {
  box-sizing: inherit;
  font-family: "Calistoga", cursive;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  /* 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgBackground {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 2%;
  left: 43%;
  right: 43%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#my-canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: auto;
}

select {
  font-family: "Markazi Text", serif;
  color: #db5015;
  background-color: #ffac88;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  font-size: 2vw;
  text-align: center;
  height: 3vw;
  width: 15vw;
  margin-top: 2vw;
}

.winner {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top:40%;
}

#staffHasPrise{
  margin-top:3vw;
}

.winner-staff {
  font-size: 3vw;
  line-height: initial;
  font-family: "Markazi Text", serif;
  text-align: center;
  margin-top: 25%;
}

.congratulation {
  background: url(assets/chucmung.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 70vw;
  height: 15vw;
  position: absolute;
  top: 25%;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

#banner {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.randomNumber {
  width: calc(25% - 10px);
  background: url(assets/oquayso.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vw;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.randomNumber p {
  font-size: 7vw;
  font-weight: bold;
  color: white;
  line-height: initial;
}

#loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

#selectValue {
  display: flex;
  justify-content: center;
}

#continueButton {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 100%;
}

#changeButton {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.randomButton {
  cursor: pointer;
  background: url(assets/quayso.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15vw;
  height: 5vw;
}

.confirmButton {
  cursor: pointer;
  background: url(assets/xacnhan.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15vw;
  height: 5vw;
  margin-top: 7vw;
}

.staff {
  font-family: "Markazi Text", serif !important;
  font-size: 2vw;
  line-height: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.priseAndGifts {
  font-family: "Pattaya", sans-serif !important;
  font-size: 5vw;
  line-height: 5vw;
  margin: 8px 0;
}

#myProgress {
  width: 20%;
  background-color: crimson;
  margin-top: 16px;
  height: 0.8vw;
}

#myBar {
  width: 1%;
  height: 0.8vw;
  background-color: #ddd;
}

#addList {
  margin-top: 3%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  font-size: 25px;
  line-height:25px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 4px;
  cursor: pointer;
  border-radius:3px;
}

#addBtn{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 4px;
  cursor: pointer;
  border-radius:3px;
}
